In [ ]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

In [ ]:
df=pd.read_csv('/content/data- linear regression.csv')
df.head()

   qualification  experience  previous exp  Salary
0              0           1             5   23500
1              0           3             2   24500
2              0           5             6   32500
3              0           8             4   36500
4              0           4             2   26500

In [ ]:
x=df.iloc[:,:-1]
y=df.iloc[:,-1]

In [ ]:
df.isnull().sum()

qualification    0
experience       0
previous exp     0
Salary           0
dtype: int64

In [ ]:
from sklearn.model_selection import train_test_split
x_train,x_test,y_train,y_test=train_test_split(x,y,test_size=0.2,)

In [ ]:
from sklearn.linear_model import LinearRegression
lr=LinearRegression()
lr.fit(x_train,y_train)

LinearRegression()

In [ ]:
from sklearn.svm import SVR
sv=SVR()
sv.fit(x_train,y_train)

SVR()

In [ ]:
from sklearn.tree import DecisionTreeRegressor
dc=DecisionTreeRegressor()
dc.fit(x_train,y_train)

DecisionTreeRegressor()

In [ ]:
ypred_lr=lr.predict(x_test)
ypred_sv=sv.predict(x_test)
ypred_dc=dc.predict(x_test)

In [ ]:
from sklearn.metrics import r2_score,mean_squared_error,accuracy_score

In [ ]:
lr1=mean_squared_error(y_test,ypred_lr)
lr1

663524.4570925703

In [ ]:
sv1=mean_squared_error(y_test,ypred_sv)
sv1

950129820.7678121

In [ ]:
dc1=mean_squared_error(y_test,ypred_dc)
dc1

8333333.333333333

In [ ]:
a1=r2_score(y_test,ypred_lr)
a1

0.9990753077856039

In [ ]:
a2=r2_score(y_test,ypred_sv)
a2

-0.32410740634831403

In [ ]:
a3=r2_score(y_test,ypred_dc)
a3

0.9883866097610545